a.navbar-brand {
    color: green !important;
    font-family: 'Galada', cursive;
    font-weight: bold;
    font-size: 30px;
    margin-top: 6px;
}
.navbar-header {
    width: 80%;
}
a.dropdown-toggle {
    font-size: 15px;
}
.logout {
    font-size: 13px;
}
.login {
    font-size: 15px;
}
.control-label {
    font-size: 15px;
    font-weight: 100;
    color: black;
}
.remember {
    font-size: 15px;
    font-weight: 100;
    color: black;
}
#email {
    font-size: 15px;
}
#password {
    font-size: 15px;
}
.navbar {
    margin-bottom: 0 !important;
}
.col-md-8 {
    margin-top: 30px !important;
}
.panel {
    margin-top: 25px;
}
.profcontainer {
    margin-top: 50px;
    border: solid lightgray 1px;
    padding: 40px;
    background-color: white;
    width: 75%;
}
.servpics {
    color: black;
    text-align: center;
}
.servpics:hover,
.servpics:active {
    color: green;
}
#services-tab {
    font-size: 15px;
    color: #777 !important;
}
#services {
    padding-left: 50px;
    width: 100%;
    padding-top: 50px;
}
.main-pic {
    background-color: black;
}
.title {
    color: pink;
    margin-top: -350px;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    opacity: .9999999;
    font-family: 'Dancing Script', cursive;
}
.coverpic {
    opacity: .45;
}
#search {
    /*margin-top: -300px;*/
    /*margin-left: 450px !important;*/
    margin-top: 10px;
}
#search-input {
    /*height: 50px;*/
}
#search-btn {
    /*line-height: 2.6em;*/
    color: green;
}
.how-section {
    height: 440px;
    padding-top: 20px;
}
#how {
    /*margin-left: 250px;*/
    text-align: center;
    padding-top: 30px;
}
#hire {
    padding-right: 0;
}
.proftitle{
    text-align: left;
    font-family: 'Droid Serif', serif;
}
.footer {
    height: 50px;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    color: green;
    position: relative;
}
h1 {
    margin-top: 300px !important;
}
h2 {
    text-align: center;
    color: green !important;
}
h5 {
    margin-bottom: 20px !important;
    text-align: center;
}
p {
    font-family: 'Lora', serif !important;
    font-size: 15px;
}
.test {
    height: 20px;
}
.test2 {
    height: 500px;
}
#subs {
    padding-top: 60px;
}
#subs2 {
    padding-top: 60px;
    padding-bottom: 60px;
}
#subs3 {
    padding-bottom: 60px;
}



